* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: left;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: beige;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #3d3434;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0, 5rem, 1rem rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

header .logo {
  font-size: 4rem;
  color: #fafafa;
  font-weight: bolder;
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #b5b5b5;
}

header .navbar a:hover {
  color: red;
}

header .ri-user-line {
  font-size: 35px;
  color: #ffffff;
}

header .ri-user-line:hover {
  color: red;
}

header .logopic {
  width: 130px;
  height: 100px;
}

/* header */

/* carousel */
.carousel {
  margin-top: 5000px;
  max-width: 5000px;
  position: relative;
  margin-top: 100px;
  margin-left: auto;
}

.pages {
  /* display:none; */
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* carousel */

/* hotseller */
.products .cartb {
  font-size: 50px;
  color: #000;
}

.products .headercart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .headercart .heading {
  color: red;
  font-family: monospace;
}

.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.products .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.products .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: var(--pink);
  background: rgba(255, 51, 153, 0.05);
  z-index: 1;
  border-radius: 0.5rem;
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box:hover .image img {
  transform: scale(1.1);
}

.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}

.products .box-container .box:hover .image .icons {
  bottom: 0;
}

.products .box-container .box .image .icons a {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: var(--pink);
  color: #fff;
}

.products .box-container .box .image .icons .cart-btn {
  border-left: 0.1rem solid #fff7;
  border-right: 0.1rem solid #fff7;
  width: 100%;
}

.products .box-container .box .image .icons a:hover {
  background: #333;
}

.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: var(--pink);
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

/* hotseller */

/* footer */
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 37rem;
  background: #333;
}

.footer .box-container .box {
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  color: #fff;
  font-size: 3rem;
  padding: 5rem 0;
}

.footer .box-container .box a {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.footer .box-container .box a:hover {
  color: red;
  text-decoration: underline;
}

.footer .box-container .box img {
  margin-top: 1rem;
}

.footer .credit {
  text-align: center;
  padding: 1.5rem;
  font-size: 2rem;
}

.footer .credit i:hover {
  color: red;
}

/* footer */

/* imgpromotion */
.imgpromotion {
  margin-top: 120px;
}

.imgpromotion img {
  width: 1300px;
}

/* imgpromotion */

/* cart */
.cart {
  color: #fff;
  position: fixed;
  width: 400px;
  max-width: 80vw;
  height: 60vh;
  background-color: #0e0f11;
  top: 0px;
  right: -100%;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  gap: 20px;
  transition: right 1s;
  margin-top: 150px;
}

.cart .buttons .checkout {
  background-color: #e8bc0e;
  color: #000;
}
.cart h2 {
  color: #e8bc0e;
  padding: 20px;
  height: 30px;
  margin: 0;
}

.cart .listCart .item {
  display: grid;
  grid-template-columns: 50px 1fr 70px;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.cart .listCart img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}
.cart .listCart .item .name {
  font-weight: bold;
}
.cart .listCart .item .quantity {
  display: flex;
  justify-content: end;
  align-items: center;
}
.cart .listCart .item .quantity span {
  display: block;
  width: 50px;
  text-align: center;
}

.cart .listCart {
  padding: 20px;
  overflow: auto;
}
.cart .listCart::-webkit-scrollbar {
  width: 0;
}

.cart .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.cart .buttons div {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.cart .buttons a {
  color: #fff;
  text-decoration: none;
}

.privacy .upp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privacy .upp h1 {
  font-size: 50px;
  margin-right: 120px;
}

.privacy .upp h1 span {
  color: red;
}

.privacy .upp a {
  font-size: 50px;
}

.privacy img {
  width: 80%;
  margin-left: 200px;
}

/* mediaquery */
/* Your existing styles */

/* Media query for screens smaller than 576 pixels */
@media screen and (max-width: 912px) {
  .left-nav,
  .right-nav {
    display: none; /* Hide left and right navigation on small screens */
  }

  header .logo {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 0.5rem; /* Add space above the logo */
  }

  header .logopic {
    margin-right: 0.5rem; /* Add space after the logo image */
    width: 50px;
    height: 50px;
  }

  /* Assuming you have a toggle button for a dropdown menu */
  .navbar-toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .navbar {
    display: block;
    position: absolute;
    width: 100%;
    top: 100%; /* Position the menu below the header */
    left: 0;
    background: #3d3434; /* Example background color */
    transition: all 0.3s ease-out;
  }

  .navbar.active {
    display: flex;
    flex-direction: column;
  }

  .ri-user-line {
    display: block;
    position: absolute;
    top: 1rem;
    right: 3rem; /* Adjust as needed */
    font-size: 1.5rem; /* Adjust icon size as needed */
  }

  header .navbar a {
    font-size: 1.5rem;
  }

  .carousel {
    display: none;
  }

  .footer .box-container {
    display: flex;
    justify-content: space-between; /* This will space your items */
    flex-wrap: wrap; /* Allow items to wrap onto the next line */
    gap: 1rem; /* Adjust the gap for smaller screens */
    background: #333;
  }

  .footer .box-container .box {
    flex: 1 1 25rem; /* Give a flex-basis of 25rem, but allow boxes to grow */
    min-width: 150px; /* Prevent boxes from becoming too small */
  }

  .footer .box-container .box h3 {
    color: #fff;
    font-size: 2rem; /* Adjusted font size */
    padding: 1rem 0; /* Reduced padding */
  }

  .footer .box-container .box a {
    display: block;
    color: #fff;
    font-size: 1rem; /* Adjusted font size */
    padding: 0.5rem 0; /* Reduced padding */
  }

  .footer .box-container .box a:hover {
    color: red;
    text-decoration: underline;
  }

  .footer .credit {
    order: 3; /* Ensure the credit section is last */
    flex: 1 1 100%; /* Take full width on wrap */
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
  }

  .products {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1300px) {
  .imgpromotion img {
    display: none;
  }
}
